<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table style= "border: 2px solid black;">
        <tr>
            <th style="border: 2px solid black">Name</th>
            <th style="border: 2px solid black">Age</th>
        </tr>
        <tr>
    {% for i in a %}
       <td style="border: 2px solid black"> {{i}}</td>
    {% endfor %}
    </tr>
    <br>
    <tr>
    {% for j in b %}
      <td style="border: 2px solid black">  {{j}}</td>
    {% endfor %}
</tr>
</table>
</body>
</html>